* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


ul li {
    display: inline;
    text-decoration: none;

}
ul li a{
    text-decoration: none;
    padding: 5px;
    float: right;
}
/* cnn news styling */
h1{
    text-align: center;
}

.h2{
    font: bold;
    font-size: 2em;

}
.h3{
    font: 2em;
}
.link h4{
    color: red;
}
.images{
    
    height: 100px;
    padding: 40px;
    margin: 10px;
}
.h5{
    color: green;
}
.content{
    font: 2em;
}
.cnnnews{
    background-color: rgb(223, 223, 253);
    border: 2px solid red;
}